/* Bordure du CV */
.bordure{
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
}
.taille_bordure{
    width: 21cm;
    height: 29cm;
    background-color: beige;
}

/* Zone de texte */
.nom_prenom{
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}


.poste{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.profil{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.paragraphe1{
    display: flex;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.competences{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.experiences_pro{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.formations{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.hobbies{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
li{
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

p{
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

/* Photo */
.picture_left{
    float: left;
    width: 150px;
}
.div-categoryContainer{
        padding: 25px;
    }
.paragraph-right {
      margin-top : 25px;
    }

hr{
        size: 10px;
        width: 200px;
    }
